# General settings
export DJANGO_SETTINGS_MODULE=config.settings.local
export DJANGO_SECRET_KEY="^nhN/oC8jr=}Txg+<vI!2?Z;|{l<k#dXx-6gthTS~Dvwv5MEBq"
export DJANGO_ALLOWED_HOSTS=.https://github.com/SalesforceFoundation/statusite

# GitHub
export GITHUB_USERNAME=
export GITHUB_PASSWORD=
export GITHUB_WEBHOOK_SECRET=

# YouTube
export YOUTUBE_API_KEY=

# Used with email
export DJANGO_MAILGUN_API_KEY=
export DJANGO_SERVER_EMAIL=
export MAILGUN_SENDER_DOMAIN=

# Sentry
export DJANGO_SENTRY_DSN=
