{% extends 'layout_full.html' %}

{% block layout_parent_link %}<a href="/">Repos</a>{% endblock %}

{% block layout_header_text %}{{ repo }}{% endblock %}

{% block layout_header_details %}
  <ul class="slds-grid slds-page-header__detail-row">
    <li class="slds-page-header__detail-block">
      <p class="slds-text-title slds-truncate slds-m-bottom--xx-small" title="Status">URL</p>
      <p class="slds-text-body--regular slds-truncate" title="{{ repo.url }}">
        <a href="{{ repo.url }}" target="_blank">{{ repo.url }}</a>
      </p>
    </li>
  </ul>
{% endblock %}

{% block layout_body %}
<table class="slds-table slds-table--bordered slds-table--cell-buffer">
  <thead>
    <tr class="slds-text-title--caps">
      <th scope="col">
        <div class="slds-truncate" title="">Name</div>
      </th>
      <th scope="col">
        <div class="slds-truncate" title="">Version</div>
      </th>
      <th scope="col">
        <div class="slds-truncate" title="">Tag</div>
      </th>
      <th scope="col">
        <div class="slds-truncate" title="">Created Date</div>
      </th>
      <th scope="col">
        <div class="slds-truncate" title="">Beta</div>
      </th>
    </tr>
  </thead>
  <tbody>
    {% for release in releases %}

    <tr>
      <th data-label="Release Name">
        <div class="slds-truncate" title="{{release.name}}">{{release.name}}</div>
      </th>
      <td data-label="Version">
          <div class="slds-truncate" title="{{release.version}}">{{release.version}}</div>
      </td>
      <td data-label="Tag">
          <div class="slds-truncate" title="{{release.tag}}">{{release.tag}}</div>
      </td>
      <td data-label="Created Date">
          <div class="slds-truncate" title="{{release.time_created}}">{{release.time_created}}</div>
      </td>
      <td data-label="Release Type">
          <div class="slds-truncate slds-badge {% if release.beta %}slds-theme--error{% else %}slds-theme--success{% endif %}"
          title="{{release.beta | yesno:'Beta Release,Production Release'}}">
            {{release.beta | yesno:'Beta Release,Production Release'}}
          </div>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>

{% endblock %}
